/* FONTS
 	font-family: 'Poppins', sans-serif;
	font-family: 'Didact Gothic', sans-serif; 
	COLORS
	Rusty Red:#984B43
	Gun Metal blue:#233237
	Warm yellow:#EAC67A
	Navy Blue:#18121E
	*/

 /*   GENERAL  */
 * {
     color: #18121E;
     font-family: 'Didact Gothic', sans-serif;
 }

 *:active, *:focus {
 	outline: none;
 }

 h1 {
     font-family: 'Poppins', sans-serif;
     color: #EAC67A;
     font-size: 64px;
     letter-spacing: -2px;
     font-weight: 700;

 }

 h2,h3 {
     font-family: 'Poppins', sans-serif;
     color: #984B43;
     font-size: 2.5em;
     letter-spacing: -2px;
     font-weight: 700;
 }

 h4,h5 {
     font-family: 'Poppins', sans-serif;
     color: #18121E;
     font-size: 2em;
     letter-spacing: -1px;

 }

 .button {
     border-radius: 50px;
     padding: 10px;
     transition-duration: 0.5s;
     padding-left: 15px;
     padding-right: 15px;
     cursor: pointer;
 }

 .button.primary {
     background-color: #984B43;
     color: #fff;
     margin: 5px 10px 5px 0px;
 }

 .button.secondary {
     background-color: #233237;
     color: #fff;

 }

 .button:hover {
     opacity: 0.8;
     font-size: 18px;
     border-radius:15px; 
 }

 input[type="text"],
 input[type="number"] {
 	padding: 5px 10px;
 	border:#233237 2px solid;
 	transition-duration:0.4s;	 
 }

 input[type="text"]:focus,
 input[type="number"]:focus {
 	border:#984B43 2px solid;
 	border-radius:20px; 
 }

 textarea {
 	padding: 5px 10px;
 	border:#233237 2px solid;
 	transition-duration:0.4s;	
 }

 textarea:focus {
 	border:#233237 2px solid;
 	border-radius:20px; 
 }

 /* NAVBAR */


.myNav {
     display: flex;
     display: -webkit-flex;
     display: -ms-flex;
     height:50px;
     background-color:#e2ba75;   
     align-items:center;
     justify-content:flex-end;  
     padding: 0px 50px;
     position: fixed;
     z-index: 100;
     width: 100%;
}

.myNav a {
    transition-duration: 0.5s;
    color: #984B43;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 0 5px;
    background-color: rgba(255,255,255, 0.3);
}   
.myNav a:hover {
     opacity:0.4;
     font-size:20px;
     color:#233237;  
     text-decoration: none; 
}

.myNav img {
    height:40px;  
    margin-right: auto;      
}


/* HERO */

.hero {
	height: 75vh;
	background-color: #f5f5f5;
	background-image: url(https://png.pngtree.com/thumb_back/fw800/back_pic/03/79/87/8057c2f33cc1d31.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	display: flex;      
	display: -webkit-flex;      
	display: -ms-flex;  
	justify-content: center;    
	-webkit-justify-content: center;    
	-ms-justify-content: center;
	align-items: center;    
	-webkit-align-items: center;    
	-ms-align-items: center;  
	position: relative;  
}

.hero::after {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	content: "";
	background: #eac67a; /* Old browsers */
    background: -moz-linear-gradient(top, #eac67a 0%, #984b43 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #eac67a 0%,#984b43 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #eac67a 0%,#984b43 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eac67a', endColorstr='#984b43',GradientType=0 );
	display: block;
	z-index: 10;
}

.innerHero {
	padding: 20px;
	max-width: 350px;
	text-align: center;
	border-radius: 200px;
	position: relative;
	z-index: 11;
}

.innerHero h1{
	color: white;
	text-align: center;
	line-height: 53px;
	margin-bottom: 15px; 
}

.innerHero h5{
	color: white;
}

.innerHero hr {
    color: white;
    background-color: #fff;
    margin: 10px 0;
    padding-bottom: 1px;
}

.innerHero a {
	margin-top: 10px;
	background-color: #fff;
	color: #EAC67A;
	border-radius: 5px;
	padding: 10px 20px;
}

/*ABOUT*/

.aboutWrapper {
	margin-top: 50px; 
	margin-bottom: 50px; 
	 
}

.about:nth-child(1) .innerAbout {
 background-color: #984B43;
}
.about:nth-child(2) .innerAbout {
	background-color: #233237;
}
.about:nth-child(3) .innerAbout {
	background-color: #EAC67A;
}

.about:nth-child(4) .innerAbout {
 background-color: #984B43;
}
.about:nth-child(5) .innerAbout {
	background-color: #233237;
}
.about:nth-child(6) .innerAbout {
	background-color: #EAC67A;
}

.about{
	height: 70vh;
	max-height: 500px;
	margin: 10px 0;
}

.innerAbout {
	margin: 5px;
	padding:15px;
	background-color: #f5f5f5;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;

}

.innerAbout h4 {
	margin: 10px 0;
	color: #fff;

}

.innerAbout p {
	text-align: justify;
	color: #fff;
}

.about:nth-child(1) .aboutIcon {
	background-color: #EAC67A;
}

.about:nth-child(2) .aboutIcon {
	background-color: #c18a5f;
}

.about:nth-child(3) .aboutIcon {
	background-color: #984B43;
}

.aboutIcon {
    height: 200px;
    width: 200px;
    border-radius: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eb7cff;
}

.aboutIcon i {
	font-size: 80px;
	color: #fff;
}

/* FOOTER */
.footerWrap {
	margin-top: 50px;
	background-color: #233237;
    display:flex; 
    display:flex; 
    display:flex; 
    padding:50px 20px;
    justify-content: space-between;
}

.footerWrap h3 {
    color:#fff; 
}

.footerWrap h2 {
    color:#fff; 
}

.footerWrap p {
    color:#EAC67A;
    font-size:22px;  
}

.footerInner {
    flex-grow: 1;
    width: 60%;
    min-width: 300px;
    max-width: 600px;
    padding:20px;
}

.footerInner input {
    display: block;
    border: 0;
    background-color:#EAC67A;
    width: 100%;
    color: #fff;
    margin:10px 0;
    padding: 5px;
}

.footerInner textarea {
    display: block;
    border: 0;
    width: 100%;
    color: #fff;
    margin:10px 0;
    padding: 5px;
    background-color:#EAC67A;
}

.footerInner input:focus {
    border: 0;
    border-radius:0;
    background-color:#fff;
}
    
.footerInner textarea:focus {
    border: 0;
    border-radius:0;
    background-color:#fff;   
}

.footerInner.companyAbout {
    text-align: right;
}

.footerInner input[type="submit"]{
    background-color:#984B43;
    transition-duration:0.3s;
    cursor:pointer; 
}

.footerInner input[type="submit"]:hover {
    background-color:#6A5FC6;
}

/*HeroInfo*/

.heroInfo {
	background-color: #243338;
	background-size: cover;
	background-position: center;
	display: flex;
	display: -webkit-flex;
	display: -ms-flex;
	padding: 50px 20px;
	justify-content: center;
	-webkit-justify-content: center;
	-ms-justify-content: center;
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;

}



.heroInfoImage {
	height: 300px;
	width: 20vh;
	min-width: 300px;
	max-width: 350px;
	/*background-color: lightgrey;*/
	background-position: ;
	background-repeat: no-repeat;
	background-image: url(https://3.bp.blogspot.com/-wIuQcI2mSX0/WaidutBit5I/AAAAAAABobU/QYUepyoqvMciqNrgNkosDUrBgjW2McVngCLcBGAs/s1600/AW518633_17.gif);
	background-size: ;
	padding: 50px;
	text-align: center;
	flex-direction: column;


}
.heroinfo:nth-child(1){
	margin-bottom: 30px; 
}

.heroinfo:nth-child(2){
	margin-bottom: 30px; 
}


.heroInfoTxt {
	height: 300px;
	background-color:  #eac67a;
	padding: 50px;
	max-width: 350px;
	text-align: center;


}

.heroInfoTxt p{
	color: #fff;
}
.heroInfoTxt h5{
	color: #fff;
}
.heroInfoTxt a{
	background-color: #fff;
	border-radius: 5px;
	color: #EAC67A;
	padding: 10px;
}




