/* FONTS
 	font-family: 'Poppins', sans-serif;
	font-family: 'Didact Gothic', sans-serif; 
	COLORS
	Rusty Red:#984B43
	Gun Metal blue:#233237
	Warm yellow:#EAC67A
	Navy Blue:#18121E
	*/

 /*   GENERAL  */
 * {
     color: #18121E;
     font-family: 'Didact Gothic', sans-serif;
 }

 *:active, *:focus {
 	outline: none;
 }

 h1 {
     font-family: 'Poppins', sans-serif;
     color: #EAC67A;
     font-size: 64px;
     letter-spacing: -2px;
     font-weight: 700;

 }

 h2,h3 {
     font-family: 'Poppins', sans-serif;
     color: #984B43;
     font-size: 2.5em;
     letter-spacing: -2px;
     font-weight: 700;
 }

 h4,h5 {
     font-family: 'Poppins', sans-serif;
     color: #18121E;
     font-size: 2em;
     letter-spacing: -1px;

 }

 .button {
     border-radius: 50px;
     padding: 10px;
     transition-duration: 0.5s;
     padding-left: 15px;
     padding-right: 15px;
     cursor: pointer;
 }

 .button.primary {
     background-color: #984B43;
     color: #fff;
     margin: 5px 10px 5px 0px;
 }

 .button.secondary {
     background-color: #233237;
     color: #fff;

 }

 .button:hover {
     opacity: 0.8;
     font-size: 18px;
     border-radius:15px; 
 }

 input[type="text"],
 input[type="number"] {
 	padding: 5px 10px;
 	border:#233237 2px solid;
 	transition-duration:0.4s;	 
 }

 input[type="text"]:focus,
 input[type="number"]:focus {
 	border:#984B43 2px solid;
 	border-radius:20px; 
 }

 textarea {
 	padding: 5px 10px;
 	border:#233237 2px solid;
 	transition-duration:0.4s;	
 }

 textarea:focus {
 	border:#233237 2px solid;
 	border-radius:20px; 
 }

 /* NAVBAR */


.myNav {
     display: flex;
     display: -webkit-flex;
     display: -ms-flex;
     height:50px;
     background-color:#EAC67A;   
     align-items:center;
     justify-content:flex-end;  
     padding: 0px 50px;
}

.myNav a {
    transition-duration: 0.5s;
    color: #984B43;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 0 5px;
    background-color: rgba(255,255,255, 0.3);
}   
.myNav a:hover {
     opacity:0.4;
     font-size:20px;
     color:#233237;  
     text-decoration: none; 
}

.myNav img {
    height:40px;  
    margin-right: auto;      
}


/* HERO */

.hero {
	height: 75vh;
	background-color: #f5f5f5;
	display: flex;      
	display: -webkit-flex;      
	display: -ms-flex;  
	justify-content: center;    
	-webkit-justify-content: center;    
	-ms-justify-content: center;
	align-items: center;    
	-webkit-align-items: center;    
	-ms-align-items: center;    
}

.innerHero {
	padding: 20px;
	max-width: 350px;
	text-align: center;
}
/*ABOUT*/

.aboutWrapper {
	margin-top: 50px; 
	margin-bottom: 50px; 
}

.about{
	height: 70vh;
}

.innerAbout {
	margin: 5px;
	padding:15px;
	background-color: #f5f5f5;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;

}
.aboutIcon {
	height: 200px;
	width: 200px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #fff;
	border: 1px grey solid;

}

.aboutIcon i {
	font-size: 80px;
}

/* FOOTER */
.footerWrap {
	background-color: #233237;
    display:flex; 
    display:flex; 
    display:flex; 
    padding:50px 20px;
    justify-content: space-between;
}

.footerWrap h3 {
    color:#fff; 
}

.footerWrap h2 {
    color:#fff; 
}

.footerWrap p {
    color:#EAC67A;
    font-size:22px;  
}

.footerInner {
    flex-grow: 1;
    width: 60%;
    min-width: 300px;
    max-width: 600px;
    padding:20px;
}

.footerInner input {
    display: block;
    border: 0;
    background-color:#EAC67A;
    width: 100%;
    color: #fff;
    margin:10px 0;
    padding: 5px;
}

.footerInner textarea {
    display: block;
    border: 0;
    width: 100%;
    color: #fff;
    margin:10px 0;
    padding: 5px;
    background-color:#EAC67A;
}

.footerInner input:focus {
    border: 0;
    border-radius:0;
    background-color:#fff;
}
    
.footerInner textarea:focus {
    border: 0;
    border-radius:0;
    background-color:#fff;   
}

.footerInner.companyAbout {
    text-align: right;
}

.footerInner input[type="submit"]{
    background-color:#984B43;
    transition-duration:0.3s;
    cursor:pointer; 
}

.footerInner input[type="submit"]:hover {
    background-color:#6A5FC6;
}




